<div class="jumbotron text-center">
    
    <h1>Welcome To DevMatch!</h1>
    
    <p class="lead">A Membership Site Where Entrepeneurs Can Meet Developers.</p>
    
</div>
<div class="row text-center">
    
    <% if user_signed_in? %>
    
    <div class="col-md-6">
            
            <div class="well">
                
                <h2>Your Profile</h2>
                
                <p class="lead">Create, View, & Edit Your User Profile!</p>
    
                <% if current_user.profile %>
                
                    <%= link_to "Edit Profile", "#", class: 'btn btn-info btn-lg btn-block' %>
                    
                    <%= link_to "View Profile", user_path(current_user), class: 'btn btn-info btn-lg btn-block' %>
                
                <% else %>
                
                    <%= link_to "Create Profile", new_user_profile_path(current_user), class: 'btn btn-info btn-lg btn-block' if current_user %>
                
                <% end %>
                
            </div>
            
    </div>
    
        <div class="col-md-6">
            
            <div class="well">
                
                <h2>The Community</h2>
                
                <p class="lead">Visit The Community To View Other Developers, Entrepeneurs, And Investors!</p>
                
                <%= link_to "Visit The community", "#" , class: 'btn btn-info btn-lg btn-block' %>

                
            </div>
            
        </div>
    
    <% else %>
    
    
        <div class="col-md-6">
            
            <div class="well">
                
                <h2>Basic Membership</h2>
                
                <p class="lead">Sign Up For Free And Get Basic Access To The Community!</p>
                
                </br>
                
                 <%= link_to "Sign Up With Basic!", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
    
                
            </div>
            
        </div>
        
        <div class="col-md-6">
            
            <div class="well">
                
                <h2>Pro Membership</h2>
                
                <p class="lead">Sign Up For The Pro Account For $10/Month And Get Access To The Community & Contact Information!</p>
                
                <%= link_to "Sign Up With Pro!", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
                
            </div>
            
        </div>
        
        <% end %>
    
</div>