<!DOCTYPE html>
<html>
<head>
  <title>DevMatch</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'https://js.stripe.com/v2/', type: 'text/javascript' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js"></script>

  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"
</head>
<body>
  
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class:'navbar-brand' do %>
        <i class="fa fa-users"></i>
        DevMatch
        <% end %>
      </div>
      
      <div class="collapse navbar-collapse text-center" id="main-nav-collapse">
        
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact us", new_contact_path %></li>
        </ul>
        
        
        <div class="nav navbar-nav navbar-right">
          
          <% if user_signed_in? %>
          
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-warning navbar-btn btn-block' %>
          
          <% else %>
          
            <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary navbar-btn', method: :get %>

        <% end %>
          
        </div>
        
         <% if current_user.profile %>
            <ul class = "nav navbar-nav navbar-right">
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile <span class="caret"></span></a>
                <ul class="dropdown-menu text-center">
                  <li><%= link_to "My Profile", user_path(current_user) %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Edit Profile", edit_user_profile_path(current_user) %> </li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Something Else?</a></li>
                </ul>
              </li>
        
               
               
            </ul
             
            <% end %>
      </div
    </div>
  </nav>
      
<div class="container">
  <% flash.each do |key,value| %>
  
    <%= content_tag :div, value, class: "alert alert-#{key} alert-dismissible" %>
    
  <% end %>

  <%= yield %>

</div>
</body>
</html>
